html { 
        background: url(image.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
	  
.flex-container {

width: 94%;
height: 100%;
min-width: 1330px;
min-height: 768px;
}


	 .bgdiv{

margin-top:200px;
left:210px;
width:70%;
}
.bgdiv1{
width:70%;
left:210px;

}



.tdstyle
{color:white;
border-bottom:1px solid #333;
padding:4px;
font-size:17px;
background-color:gray;
width:26.5%;
font-weight:bold;}

.tdstyle1
{
border-bottom:1px solid #333;
color:white;
font-weight:bold;
font-size:17px;
text-align:center;
background-color:gray;
width:46.8%;}
.tdstyle2
{
border-bottom:1px solid #333;

color:white;
font-size:17px;
font-weight:bold;

background-color:gray;}
.tablestyle
{width:100%;}
.theadstyle
{    
display: table;
    
    border-spacing: 0;
    width: 927px;
    background: #333;
    border-bottom: 6px solid rgb(217,0,0);
    font-size:18px;
    color: white;
}


.tbodystyle{
width:99.8%;
display: table;
border-spacing:0;
border:1px solid grey
    vertical-align: left;
    }
 
	  {
	  border-bottom: 1px solid #ddd;}
	  .clear{
		  width:40%;
		  color:white;font-size:15px;}
	  h5{color:#c9aa71}
	  .mother
	  {
	z-index:1;
		display:inherit;
	  margin-left:10px;
	  margin-right:10px;
	  font-size:15px;
	  color:white;}
	  .hide{
		  z-index:1;
	  display:none;
	  position:absolute;
	  overflow: auto;
	  }
	  .show{
		  z-index:1;
		  border-radius:20px;
		    margin-left:5px;
		background-color:black;  
		overflow: auto;
	  display:block;
	  position:fixed;
}
	  
		  
	  h2{color:#c9aa71; font-size:170%;}
	  .img{border-radius:1000px;
	  float:left;
	  }
	  .sum{
		  font-size:60px;
		  color:white;
	  }
	  input[type=text]{
		  background:#111;
		width: 600px;
		padding: 12px 20px;
		margin: 2px;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 9px;
		box-sizing: border-box;
		color:white;
	}
	
	
	.homep{
		font-family:arial;
		font-size:18px;
	color:white;
	background:black;
	opacity:0.9;
	width:96%;
	margin:10px;}
	.pdes{
font-family:arial;
		font-size:18px;
	color:white;
}
input[type=button]{
		
   width:250px;
   height:40px;
    color:white;
    background: #111;
	border-radius: 9px;

    
	}
	input[type=button]:hover {
		width:240px;
   height:39px;
		 color:grey;
	}
	.img1{border-radius:1000px;
   width:30px;
	padding-right:10px;
   height:30px;
	}
	  .pic
	  {
		  
		  padding-top: 8px;
	  }
	
	  .u1 {
	z-index:6;
	position: fixed;
	margin-top: -0.6%;
	margin-left:-2.1%;
 	width:100%;
	opacity: 1;
	float:left;
	height:50px;
    list-style-type: none;
    overflow: hidden;
    background-color: #000;
}
	
.i1 {
	
    float: left;
}
.i2 {
	font-weight:bold;
	color:black;
	font-size:20px;
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.main{

    text-decoration:none;
    color: white;
    
    font-size: 14px;
    font-weight: 700;
    line-height: 55px;
	margin-bottom:1em;
    margin-right:1em;
    margin-left:1em;
	padding-top:10px;
	border-bottom: 3px solid #1ca1a9;
	padding-bottom:12.2px;

	}
.a1 {
    text-decoration:none;
	border: 1px solid transparent;
    color: #1ca1a9/*#c9aa71*/;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
	margin-top:0.1em;
	margin-bottom:1em;
    margin-right:1em;
	margin-left:1em;
	overflow: hidden;
    padding-top: 2px;
}

.a1:hover {
	text-decoration:none;
border-bottom: 2px solid transparent;
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
   margin-top:0.1em;
	margin-bottom:1em;
    margin-right:1em;
	margin-left:1em;
    overflow: hidden;
    padding-top: 2px;
}

.box {
position:absolute;
	z-index:7;
 opacity:0.7;
 display:none;
  align-items: top;
   background-color:white;
 width:400px;
 height:170px;
border-radius:10px; 
 }
.box:hover {
opacity:1;
}
.div11 {

 margin-left:15px;
 width: 95%;
  height: 60%;
 }
.div22 {
     margin-top:-15px;
margin-bottom:10px;
margin-left:15px;
 width: 95%;
}
 .div33 {
 
margin-top:0px;
margin-right:0px;
	
	
}

.extb{
		
   width:130px;
   height:30px;
    color:white;
    background: grey;
	border-radius: 7px;

    
	}
	.extb:hover {
		width:126px;
   height:29px;
	}
.extb1{
		
   width:60px;
   height:30px;
    color:white;
    background: grey;
	border-radius: 7px;

    
	}
	.extb1:hover {
		width:56px;
   height:29px;
		 
	}
	